<section class="expertise-tray">
    <div class="container">
        <div class="row g-4 text-center text-md-start">
            <div class="col-md-3">
                <h6>Cardiovascular</h6>
                <ul class="expertise-list">
                    <li><a href="/cardiology">Cardiology</a></li>
                    <li><a href="/hypertension">BP & Cholesterol</a></li>
                    <li><a href="/chest-pain">Chest Pain Evaluation</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>Metabolic</h6>
                <ul class="expertise-list">
                    <li><a href="/diabetes">Diabetes Care</a></li>
                    <li><a href="/weight-health">Weight Management</a></li>
                    <li><a href="/hormones">Hormonal Wellness</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>Internal Medicine</h6>
                <ul class="expertise-list">
                    <li><a href="/lung-care">Lung & Asthma</a></li>
                    <li><a href="/bone-health">Bone Health</a></li>
                    <li><a href="/regenerative">Regenerative Care</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>Statutory</h6>
                <ul class="expertise-list">
                    <li><a href="/mom-checkup">MOM Work Permit</a></li>
                    <li><a href="/lta-checkup">LTA Vocational</a></li>
                    <li><a href="/ica-checkup">ICA Student/Visa</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
