<section class="expertise-tray">
    <div class="container">
        <div class="row g-4">
            <div class="col-6 col-md-3 expertise-column"><h6>Cardiovascular</h6><ul class="expertise-list"><li><a href="/cardiology">Cardiology</a></li><li><a href="/hypertension">BP & Cholesterol</a></li></ul></div>
            <div class="col-6 col-md-3 expertise-column"><h6>Metabolic</h6><ul class="expertise-list"><li><a href="/diabetes">Diabetes</a></li><li><a href="/weight-health">Weight Care</a></li></ul></div>
            <div class="col-6 col-md-3 expertise-column"><h6>Statutory</h6><ul class="expertise-list"><li><a href="/mom">MOM Permit</a></li><li><a href="/lta">LTA Vocational</a></li></ul></div>
            <div class="col-6 col-md-3 expertise-column"><h6>Contact</h6><ul class="expertise-list"><li>134 Geylang East Ave 1</li><li>+65 6962 1362</li></ul></div>
        </div>
    </div>
</section>
