<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top bg-light" style="height: 40px;">
  <div class="container d-flex justify-content-between">
    <div class="contact-info">
      <i class="fa-solid fa-envelope text-primary"></i>
      <a href="mailto:contact@ahealingheartmedical.com" class="text-decoration-none ms-1 me-4">contact@ahealingheartmedical.com</a>
      <i class="fa-solid fa-phone text-primary"></i>
      <a href="tel:+6569621362" class="text-decoration-none ms-1">+65 6962 1362</a>
    </div>
    <div class="social-links">
      <a href="https://www.facebook.com/ahealingheartmedical" class="text-dark ms-3"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://www.instagram.com/ahealingheartmedical/" class="text-dark ms-3"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.linkedin.com/company/ahealingheartmedical" class="text-dark ms-3"><i class="fa-brands fa-linkedin"></i></a>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top shadow-sm" style="top: 40px;">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="assets/img/logo/A-Healing-Heart-Medical-Clinic-Logo.png" alt="A Healing Heart Medical Clinic" height="50">
    </a>

<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
  <span class="navbar-toggler-icon"></span>
</button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="/who-we-are">Who We Are</a></li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="preventiveDrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Preventive Medicine
          </a>
          <ul class="dropdown-menu shadow border-0" aria-labelledby="preventiveDrop">
            <li><a class="dropdown-item" href="/preventive-medicine">Preventive Medicine</a></li>
            <li><a class="dropdown-item" href="/general-health">General Health</a></li>
            <li><a class="dropdown-item" href="/health-screening">Health Screening</a></li>
            <li><a class="dropdown-item" href="/osteoporosis">Osteoporosis</a></li>
            <li><a class="dropdown-item" href="/vaccination">Vaccination</a></li>
            <li><a class="dropdown-item" href="/covid-19">COVID-19 Related</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="intermediateDrop" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Intermediate Care
          </a>
          <ul class="dropdown-menu shadow border-0" aria-labelledby="intermediateDrop">
            <li><a class="dropdown-item" href="/intermediate-care-services">Intermediate Care Services</a></li>
            <li><a class="dropdown-item" href="/chronic-cardiology-care">Cardiology</a></li>
            <li><a class="dropdown-item" href="/rapid-blood-test-services">Rapid Blood Test Services</a></li>
            <li><a class="dropdown-item" href="/post-hospitalisation-recovery">Post-Hospitalisation Care</a></li>
          </ul>
        </li>

        <li class="nav-item"><a class="nav-link" href="/location">Location</a></li>
        <li class="nav-item"><a class="nav-link" href="/job">Career</a></li>
        
        <li class="nav-item ms-lg-3">
          <a class="btn btn-primary px-4 rounded-pill" href="/booking">Book Online</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
