<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
  <div class="container d-flex">
    <div class="contact-info me-auto">
      <i class="icofont-envelope"></i>
      <a href="mailto:contact@ahealingheartmedical.com">contact@ahealingheartmedical.com</a>
      <i class="icofont-phone"></i>
      <a href="tel:+6569621362">+65 6962 1362</a>
    </div>
    <div class="social-links">
      <a href="https://www.facebook.com/ahealingheartmedical" class="facebook"><i class="icofont-facebook"></i></a>
      <a href="https://www.instagram.com/ahealingheartmedical/" class="instagram"><i class="icofont-instagram"></i></a>
      <a href="https://www.linkedin.com/company/ahealingheartmedical" class="linkedin"><i class="icofont-linkedin"></i></a>
    </div>
  </div>
</div>

<header id="header" class="header fixed-top navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    
    <a href="/" class="navbar-brand d-flex align-items-center">
       <img src="assets/img/logo/A-Healing-Heart-Medical-Clinic-Logo.png" alt="A Healing Heart Medical Clinic" class="img-fluid" style="max-height: 50px;">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <nav class="nav-menu ms-auto">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="/who-we-are">Who We Are</a></li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Preventive Medicine</a>
            <ul class="dropdown-menu">
               <li><a class="dropdown-item" href="/preventive-medicine">Preventive Medicine</a></li>
               <li><a class="dropdown-item" href="/health-screening">General Health Screening</a></li>
               <li><a class="dropdown-item" href="/heart-health-screening">Cardiac Heart Screening</a></li>                       
               <li><a class="dropdown-item" href="/vaccination">Vaccination</a></li>                          
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Intermediate Care</a>
            <ul class="dropdown-menu">
               <li><a class="dropdown-item" href="/intermediate-care-services">Intermediate Care Services</a></li>
               <li><a class="dropdown-item" href="/cardiology">Cardiology</a></li>
               <li><a class="dropdown-item" href="/regenerative-medicine">Regenerative Medicine</a></li>
               <li><a class="dropdown-item" href="/derma-clinica">Derma Clinica</a></li>
               <li><a class="dropdown-item" href="/rapid-blood-test-services">Rapid Blood Tests</a></li>
               <li><a class="dropdown-item" href="/hormonal-and-wellness">Hormonal & Wellness</a></li>                                   
               <li><a class="dropdown-item" href="/post-hospitalisation-recovery">Post-Hospital Care</a></li>
               <li><a class="dropdown-item" href="/endoscopy">Endoscopy</a></li>
            </ul>
          </li>

          <li class="nav-item"><a class="nav-link" href="/location">Location</a></li>
          <li class="nav-item"><a class="nav-link" href="/booking">Book Online</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
