<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/assets/img/logo/A-Healing-Heart-Medical-Clinic-Logo.webp" height="45" alt="A Healing Heart Logo">
        </a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item"><a class="nav-link px-3 fw-bold" href="/cardiology">Cardiology</a></li>
                <li class="nav-item"><a class="nav-link px-3 fw-bold" href="/metabolic">Metabolic</a></li>
                <li class="nav-item"><a class="nav-link px-3 fw-bold" href="/who-we-are">Who We Are</a></li>
                <li class="nav-item">
                    <a class="nav-link btn-book ms-lg-3" href="https://clinic.platomedical.com/...">Book Consult</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
