<div class="trust-bar">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4"><div class="trust-item justify-content-center"><i class="fa-solid fa-percent trust-icon"></i><span>Non-GST (9% Savings)</span></div></div>
            <div class="col-md-4 border-start border-end"><div class="trust-item justify-content-center"><i class="fa-solid fa-bolt-lightning trust-icon"></i><span>15-Min Markers</span></div></div>
            <div class="col-md-4"><div class="trust-item justify-content-center"><i class="fa-solid fa-id-card trust-icon"></i><span>CHAS Accredited</span></div></div>
        </div>
    </div>
</div>
