<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="clinic, heart failure, medical clinic, cardiology, rapid test, Singapore">

  <link href="/assets/img/logo/A-Healing-Heart-Medical-Clinic-Favicon.png" rel="icon">
  <link href="/assets/img/logo/A-Healing-Heart-Medical-Clinic-Favicon.png" rel="apple-touch-icon">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
  
  <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/css/bs5-migration.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FWS6R7S77W"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-FWS6R7S77W');
  </script>

  {% include structured-data.html %}
</head>

<body oncopy="return false" class="pt-5">

  {% include header.html %}

  <main id="main">
    {{ content }}
  </main>

  {% include footer.html %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/assets/js/main.js"></script>

</body>
</html>
