<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="clinic, heart failure, medical clinic, cardiology, rapid test, Singapore">

  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/css/bs5-migration.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  {% if page.preload_image %}
    <link rel="preload" as="image" href="{{ page.preload_image }}" fetchpriority="high">
  {% endif %}

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:300,400,500,600,700&display=swap" rel="stylesheet" media="print" onload="this.media='all'">

  <link href="/assets/img/logo/A-Healing-Heart-Medical-Clinic-Favicon.png" rel="icon">
  <link href="/assets/img/logo/A-Healing-Heart-Medical-Clinic-Favicon.png" rel="apple-touch-icon">
    
  {% include structured-data.html %}
</head>

<body oncopy="return false" class="pt-5">

  {% include header.html %}

  <main id="main">
    {{ content }}
  </main>

  {% include footer.html %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" media="print" onload="this.media='all'">
<link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" media="print" onload="this.media='all'">
<link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet" media="print" onload="this.media='all'">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/assets/vendor/counterup/counterup.min.js"></script>
  
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/venobox/venobox.min.js"></script>
  
  <script src="/assets/js/main.js"></script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FWS6R7S77W"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-FWS6R7S77W');
  </script>
  
</body>
</html>
